*, *:before, *::after {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Oswald', sans-serif;
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

header {
  background: #fff;
  display: flex;
  height: 50px;
  padding: 0 5px 10px;
}

nav {
  margin-left: auto;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu li {
  display: inline-block;
}

.menu ul {
  display: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 50px);
  width: 100%;
}

.box {
  border: 5px solid #fefefe;
  background-position-y: 50%;
  background-size: cover;
  flex-basis: 100%;
  position: relative;
}

.box__capture {
  position: absolute;
  bottom: 0;
  display: flex;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .3);
  padding: 10px;
}

.box:nth-child(1) {
  background-image: url('../img/IMG_0018.jpg');
}

.box:nth-child(2) {
  background-image: url('../img/masok_multja-kenez.jpg');
}

.box:nth-child(3) {
  background-image: url('../img/nekunk_is_volt_1.jpg');
}

.box:nth-child(4) {
  background-image: url('../img/agyas_03_01.jpg');
}


.cta {
  border: 1px solid;
  border-radius: 2px;
  color: black;
  padding: 3px 10px;
  margin-left: auto;
}

@media all and (max-width: 600px) {
  .box {
    flex-basis: 100%;
  }
}




/* subpage */

.lead {
  background-image: url('../img/sorozat.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
  background-attachment: fixed;
  margin-bottom: 20px;
  position: relative;
}

.lead__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, .3);
  padding: 20px;
}

.description {
  padding-bottom: 30px;
}
.content {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.gallery {
  column-count: 2;
  column-gap: 1px;
  font-size: 0;
}

.thumbnail {
  display: inline-block;
  margin-bottom: 1px;
}

.thumbnail .imagewrap {
  overflow: hidden;
}

.thumbnail img {
  max-width: 100%;
  will-change: transform;
  transition: transform .3s;
}

.thumbnail:hover img {
  transform: scale(1.1);
}


@media all and (max-width: 400px) {
  .gallery {
    column-count: 1;
  }
}

.placeholder {
  height: 2000px;
}
