.mainpage {

  .wrap {
    display: flex;
    height: 100%;
  }

  .left-side {
    background: rgba(#c7c0b9, 0.34);
    flex-basis: 33.33%;
    flex-shrink: 0;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
      height: auto;
      width: auto;
      max-width: calc(100% - 15px);
      max-height: calc(100% - 15px);
    }
  }

  .right-side {
    flex-grow: 1;

    .Wallop-item {
      height: 100%;
    }
  }

  .fixed {
    z-index: 100;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  header {
    background: none;
    box-shadow: none;
  }
}


.exhibiton {
  flex-basis: 33.333%;
  flex-shrink: 0;
  flex-grow: 1;

  list-style-type: none;
  margin: 0;
  padding: 25px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  &__details {
    font-size: 12px;
    margin-bottom: 36px;

    &-actual {
      font-size: 16px;
    }
    &-next {
      margin-bottom: 0;
    }
  }
}

.e-head {
  font-size: 1.1em;
  margin-bottom: .7em;
}

.e-date {
  //text-transform: capitalize;
  font-feature-settings: "c2sc", "smcp";
  font-size: .9em;
  font-weight: bold;
}

.e-title {
  font-size: 1.2em;
  margin-bottom: 0.1em;
}


//  height: 100%;


//
//  body {
//    display: flex;
//    flex-direction: column;
//    height: 100%;
//    max-height: 100%;
//  }
//
//  header {
//    flex-shrink: 0;
//  }
//  .wrap {
//    flex-shrink: 0;
//    flex-basis: 0;
//    flex-grow: 1;
//    display: flex;
//
//  }
//
//  .carousel-wrapper {
//    //flex-shrink: 0;
//    //flex-basis: 0;
//    flex-grow: 1;
//    position: relative;
//
//    img {
//      width: 130vh;
//      height: auto;
//      max-width: 100%;
//      max-height: 100%;
//    }
//  }
//  .carousel {
//    position: absolute;
//    top: 0;
//    bottom: 0;
//    left: 0;
//    right: 0;
//    overflow: hidden;
//  }
//
//  .car {
//    width: 100%;
//    height: 100%;
//  }
//
//  .exhibiton {
//    //flex-basis: 300px;
//  //  flex-shrink: 0;
//  //  margin: 0;
//  //  padding: 0 0 10px;
//  }
//}
//
//.flickity-slider {
//  transform: none !important;
//}
//
//.carousel {
//  //margin-top: 30px;
//  button {
//    display: none;
//  }
//}
//
//.flickity-page-dots {
//  display: none;
//}
//
//.carousel-cell {
//  height: 100%;
//  text-align: center;
//  left: 0 !important;
//  //opacity: 0;
//  transition: opacity 0.6s ease-in-out;
//  width: 100%;
//  z-index: -1;
//}
//.carousel-cell img {
//  height: auto;
//  width: auto;
//  max-height: 100%;
//  max-width: 100%;
//}
//
//.carousel-cell.is-selected {
//  opacity: 1;
//  z-index: 0
//}
