main.cv {
  padding-top: 15px;
}

.profile {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
}

.row {
  align-items: center;
  display: flex;
  margin-bottom: 30px;
}

.sidebar {
  flex-basis: 240px;
  flex-shrink: 0;
  padding: 0 15px;
}

.main {
  flex-grow: 1;
  padding: 0 15px;
}

table {
  border-collapse: collapse;
  width: 100%;

  th {
    border-bottom: 1px solid #ccc;
    padding: 0 15px;

    &.group {
      padding-top: 20px;
    }
  }

  td {
    padding: 10px 5px 0;

    &.date {
      font-weight: bold;
    }

    &.data {
      padding-left: 30px;
    }
  }
}
