extends layout/_layout
block content
  main.container
    .box
      .box__capture
        h3 Most/Volt
        |
        a.cta(href='./subpage.html') Megnéz
    .box
      .box__capture
        h3 M&aacute;sok m&uacute;ltja
        |
        a.cta(href='./subpage.html') Megnéz
    .box
      .box__capture
        h3 Nek&uuml;nk is volt
        |
        a.cta(href='./subpage.html') Megnéz
