-
  var exhibition = [
  {
  'exhib' : 'Önálló Kiállítás',
  'data': {
  '2017': [
  {
  'title': 'Hey, Mother',
  'place': 'Kelet Kávézó'
  }
  ]
  }
  },
  {
  'exhib': 'Csoportos Kiállítás',
  'data': {
  '2017': [
  {
  'title': 'OLD SCHOOL – egy riportkiállítás a PTE MK Damjanich utcai periódusáról',
  'place': 'm21 Galéria, Pécs'
  }
  ],
  '2016':[
  {
  'title': 'A képzőművész vajon mi?',
  'place': 'Stúdió Galéria, Budapest'
  },
  {
  'title': 'Ongoing h/Histories',
  'place': 'Stúdió Galéria, Budapest'
  }
  ]
  }
  }
  ]
- var bodyClass = '';
block vars
html(class=bodyClass)
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block stylesheets
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.2/baguetteBox.css")
    link(rel="stylesheet" href="css/style.css")
    meta(charset="UTF-8")
    title Oli Honlap
  body
    header
      h1
        a(href="./index.html") Oli Kovács
      nav
        ul.menu
          li
            a(href="./subpage.html") Munkák
            | &nbsp;|&nbsp;
          li
            a(href="./cv.html") Cv
    block content
