html
  head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,300,400")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.2/baguetteBox.css")
    link(rel="stylesheet" href="css/style.css")
    meta(charset="UTF-8")
    title Oli Honlap
  body
    header
      h1
        a(href="./index.html") Olikovacs
      nav
      ul.menu
        li
          a(href="#") Munkák
        li
          a(href="#") CV
        li
          a(href="#") Sajtó
    block content
